<div class="container">
  <div class="row">
    <div class="col l4 s12">
      <p class="grey-text text-lighten-4" align="justify|">Este es un grupo conformado por estudiantes que pretenden promover la filosofía del movimiento de cultura libre enfocándose en los beneficios del uso del software distribuido bajo la misma ideología, mostrándolo como una alternativa económica y funcional al software privativo.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Recursos</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://ingeniuxco.wordpress.com">Blog</a></li>
        <li><a class="grey-text text-lighten-3" href="http://stipelson.github.io/tour-it">Tour-it!</a></li>
        <li><a class="grey-text text-lighten-3" href="#!"></a></li>
        <li><a class="grey-text text-lighten-3" href="#!"></a></li>
      </ul>
    </div>
    <div class="col l2 s12">
      <h5>
        <a href="https://www.facebook.com/ingeniuxco"><i class="fa fa-facebook fa-inverse" aria-hidden="true"></i></a>
        <a href="https://www.twitter.com/ingeniuxco"><i class="fa fa-twitter fa-inverse" aria-hidden="true"></i></a>
        <a href="https://www.github.com/ingeniuxco"><i class="fa fa-github fa-inverse" aria-hidden="true"></i></a>
      </h5>
      <p class="white-text">
        ingeniux2016@googlegroups.com
      </p>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    © 2015 - 2016 Ingeniux
    <a class="grey-text text-lighten-4 right" href="#!">License</a>
  </div>
</div>
