
<div class="row header-blog">
  <div class="col s10 m8 offset-m2 offset-s1">
    <div class="blog-identity">
      <a class="blog-logo" href="#"><img class="responsive-img" src="{{site.baseurl}}/img/logotext.png" alt="grupo de usuarios de sioftware libre" /></a>
      <a class="blog-description" href="#">grupo de usuarios de software libre</a>
    </div>

    <div class="navigation">
      <nav class="menu-top white z-depth-0">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <li class="menu-item {% if page.url == '/' %}current-page{% endif %}"><a href="{{site.baseurl}}/">Inicio</a></li>
            <li class="menu-item {% if page.url contains 'events' %}current-page{% endif %}"><a href="{{site.baseurl}}/events/">Eventos</a></li>
            <li class="menu-item {% if page.url contains 'wi:dget' %}current-page{% endif %}"><a href="{{site.baseurl}}/wi:dget/">WI:DGET</a></li>
            <li class="menu-item {% if page.url contains 'about' %}current-page{% endif %}"><a href="{{site.baseurl}}/about/">Acerca de Ingeniux</a></li>
          </ul>
        </div>
      </nav>
    </div>


  </div>
</div>
