<div class="widget">
  <h4 class="widget-title">Categorías</h4>
  <div class="widget-content">
    <a href="#">
      <div class="chip">
        Tag
      </div>
    </a>

  </div>
</div>

<div class="widget">
  <h4 class="widget-title">Twitter</h4>
  <div class="widget-content">
    <a class="twitter-timeline" data-widget-id="600720083413962752" href="https://twitter.com/ingeniuxco" data-screen-name="ingeniuxco">
      Tweets by @{screen_name}
    </a>
  </div>
</div>

<div class="widget">
  <h4 class="widget-title">Facebook</h4>
  <div class="widget-content">
    <div class="fb-page" data-href="https://www.facebook.com/ingeniuxco" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ingeniuxco"><a href="https://www.facebook.com/ingeniuxco">Ingeniux</a></blockquote></div></div>
  </div>
</div>
