<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ingeniux | Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/nav.css"/>
</head>
<body>
  <div id="container">

    <header class="group white center">
      <div class="row header-blog">
        <div class="col s10 m8 offset-m2 offset-s1">
          <div class="blog-identity">
            <a class="blog-logo" href="#"><img class="responsive-img" src="{{site.baseurl}}/img/logotext.png" alt="grupo de usuarios de sioftware libre" /></a>
            <a class="blog-description" href="#">grupo de usuarios de software libre</a>
          </div>

          <div class="navigation">
            <nav class="menu-top white z-depth-0">
              <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                  <li class="menu-item current-page"><a>Inicio</a></li>
                  <li class="menu-item"><a>Eventos</a></li>
                  <li class="menu-item"><a>WI:DGET</a></li>
                  <li class="menu-item"><a>Acerca de Ingeniux</a></li>
                </ul>
              </div>
            </nav>
          </div>


        </div>
      </div>
    </header>


    <div class="section grey lighten-4"><!-- contenido -->
      <div id="content" class="content">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l9 list-post">
              {{ content }}
            </div>
            <div class="col s12 m12 l3">
              <div class="widget">
                <h4 class="widget-title">Twitter</h4>
                <div class="widget-content">
                  <a class="twitter-timeline"
                  data-widget-id="600720083413962752"
                  href="https://twitter.com/ingeniuxco"
                  data-screen-name="ingeniuxco">
                  Tweets by @{screen_name}
                </a>
              </div>
            </div>

            <div class="widget">
              <h4 class="widget-title">Facebook</h4>
              <div class="widget-content">
                <div class="fb-page" data-href="https://www.facebook.com/ingeniuxco" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ingeniuxco"><a href="https://www.facebook.com/ingeniuxco">Ingeniux</a></blockquote></div></div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div><!-- Fin contenido -->

  <footer class="page-footer green" id="footer-uno">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <p class="grey-text text-lighten-4" align="justify|">Este es un grupo conformado por estudiantes que pretenden promover la filosofía del movimiento de cultura libre enfocándose en los beneficios del uso del software distribuido bajo la misma ideología, mostrándolo como una alternativa económica y funcional al software privativo.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Recursos</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://ingeniuxco.wordpress.com">Blog</a></li>
            <li><a class="grey-text text-lighten-3" href="http://stipelson.github.io/tour-it">Tour-it!</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"></a></li>
            <li><a class="grey-text text-lighten-3" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5>
            <a href="https://www.facebook.com/ingeniuxco"><i class="fa fa-facebook fa-inverse" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com/ingeniuxco"><i class="fa fa-twitter fa-inverse" aria-hidden="true"></i></a>
            <a href="https://www.github.com/ingeniuxco"><i class="fa fa-github fa-inverse" aria-hidden="true"></i></a>
          </h5>
          <p class="white-text">
            ingeniux2016@googlegroups.com
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2015 - 2016 Ingeniux
        <a class="grey-text text-lighten-4 right" href="#!">License</a>
      </div>
    </div>
  </footer>

</div>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>


</body>
</html>
