<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello World Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/nav.css"/>
  </head>
  <body>
    <div id="container">
      <header class="group">

        <div class="container" id="rowNav">
          <nav class="white z-depth-0 nav-main" id="nav">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo small-logo">
                <img src="images/logoGorro.svg" class="nav-logo" alt=""> </img>
                <span class="nav-name-logo">Ingeniux</span>
              </a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">WI:DGET</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Acerca de Ingeniux</a></li>
              </ul>
            </div>
          </nav>
        </div>

        <h1 class="logo"><a href="/">Hello World Blog.</a></h1>
      </header>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
