<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ingeniux | Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="{{site.baseurl}}/assets/css/nav.css"/>
</head>
<body>
  <div id="container">
    <header class="group white center">
      {% include header.html %}
    </header>

    <div class="section grey lighten-4"><!-- contenido -->
      <div id="content" class="content">
        <div class="container">
          <div class="row justify">

            {{ content }}


          </div>
        </div>
      </div>
    </div><!-- Fin contenido -->

    <footer class="page-footer green" id="footer-uno">
      {% include footer.html %}
    </footer>

  </div>
  <div id="fb-root"></div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/fb.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/tw.js"></script>

</body>
</html>
